.revisions td a {
  cursor: pointer; }
  .revisions td a .revision-date i {
    margin-right: .5em; }
  .revisions td a .revision-time i {
    margin-left: 1em;
    margin-right: .2em; }
  .revisions td a .revision-template i {
    margin-left: 1em;
    margin-right: .2em; }
