.revisions {
	td {
		a {
			cursor: pointer;
			.revision-date i {
				margin-right: .5em;
			}
			.revision-time i {
				margin-left: 1em;
				margin-right: .2em;
			}
			.revision-template i {
				margin-left: 1em;
				margin-right: .2em;
			}
		}
	}
}